* {
  margin: 0;
  padding: 0;
}

.header {
  background: url(img/header.jpg) center center/cover no-repeat;
  height: 540px;
  padding-bottom: 40px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-btn {
  margin-top: 30px;
}

.header-row {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-text {
  font-size: 15px;
  font-size: 70px;
  color: #252424;
  font-weight: 900;
  padding: 50px 0px;
  background-color: transparent;
}

.subheader-text {
  font-size: 22px;
  letter-spacing: 0.01em;
  color: white;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

a {
  padding: 9px 22px;
  border: 2px solid transparent;
  text-decoration: none;
  display: inline-block;
}

.btn a:hover {
  background-color: #444;
  color: #fff;
}

.btn a {
  color: #444;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background: #fff;
  padding: 9px 22px;
  border-radius: 2px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

.btn {
  outline: 0;
  font-size: 15px;
  text-align: center;
}

.box-container {
  padding: 80px 0px;
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  background: #fff;
  display: flex;
  margin: 0 auto;
  margin-top: -85px;
  width: 90%;
}

.box-item {
  flex: 1;
  text-align: center;
}

.item-text {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 600;
  color: #555;
}

.item-counter {
  font-size: 50px;
  font-weight: 900;
  color: #444;
  line-height: 48px;
  margin-bottom: 13px;
}

.cards {
  padding-top: 50px;
}

.card-container {
  display: flex;
  gap: 20px;
  padding: 0 25px;
}

.card-item {
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  flex: 1;
}

.card-img {
  object-fit: contain;
  width: 100%;
}

.card-item-text {
  min-height: 80px;
  background: #f3f3f3;
}

.card-item-text h2 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #f16266;
  font-weight: 400;
  font-family: monospace;
  text-align: center;
  padding: 10px 0;
}

.footer {
  background: #f9f9f9;
  padding: 70px 0px;
  text-align: center;
}

.footer-container h2 {
  text-align: center;
  color: #444;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-size: 24px;
  line-height: 30px;
}

.footer-container .btn {
  margin-bottom: 50px;
}

.copy-right {
  text-align: center;
  color: #f26367;
  letter-spacing: 0.05em;
  font-size: 17px;
}

@media screen and (max-width: 768px) {
  .box-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 300px;
  }

  .card-container {
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }
}
